---
layout: default
permalink: /
---


<img src="{{ site.baseurl }}/assets/img/brand.png" alt="YUKI.N>">
  
  <blockquote>
    <p>
      "The revolutionary wind blows from nowhere but somewhere."
    </p>
    </blockquote>
  
{% for category in site.categories %}
  <h2>{{ category.first }}</h2>
    <hr>
  {% for post in category.last %}
  <div>
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
      <em style="float:right;">#{{ post.tag }}</em>
  </div>
  {% endfor %}
  <div class="spacing"></div>
{% endfor  %}
