<footer class="footer" id="footerwrap" style="text-align:right;">
  &copy Brethland <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">CC-BY-NC-SA 4.0</a><br>
<a href="{{ site.baseurl }}/feed.xml"><i class="mdi mdi-rss"></i> RSS Feed</a> | <a href="mailto:brethland@gmail.com"><i class="mdi mdi-email"></i> Contact </a><br>
Find me at <a href="https://github.com/Brethland"><i class="mdi mdi-github"></i> Github </a> | <a href="https://t.me/bungeibu"><i class="mdi mdi-forum"></i> Telegram</a>
| <a href="https://bangumi.tv/user/brethland"><i class="mdi mdi-video-vintage"></i> Bangumi</a></footer>
