<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary"></meta>
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <link rel="shortcut icon" href="https://yuki.systems/assets/favicon.png">
    <link type="application/atom+xml" rel="alternate" href="https://yuki.systems/feed.xml"
        title="{{ site.title }}" />

    {% capture page_title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}{% endcapture %}
    <title>{{ page_title }}</title>
    
    <link href="https://cdn.materialdesignicons.com/5.2.45/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
