:root {
    --code-background-color: #eaeaea;
    --background-color: white;
    --border-color: gray;
    --accent-color: grey;
    --code-font: Courier, monospace;
}

body {
    font-family: 'Alegreya', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', serif;
}

.container-fluid {
    padding-left: calc(8vh);
    padding-right: calc(8vh);
    max-width: 900px;
    margin: calc(8vh) auto;
}

ol, ul { list-style-position: outside; }
ol { list-style-type: upper-roman; }
li { line-height: 1.2; }

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    padding-left: 2ch;
    margin-left: 1ch;
    position: relative;
    overflow: hidden;
    font-family: 'EB Garamond', serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-fon-smoothing: grayscale;
    color: var(--accent-color);
}

p {
    font-kerning: normal;
    line-break: normal;
    line-height: 150%;
    font-size: 12pt;
}

mark { background-color: yellowgreen; }

del { color: var(--accent-color); }

table { 
    padding: .8ch;
    border: 3px double var(--border-color); 
}
tr, td, th { padding: .4ch; }
tr { border: .5px solid var(--border-color); }

thead {
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    overflow: visible;
    padding: 0;
    text-align: center;
    border-image: linear-gradient(to left, var(--background-color), black) 4;
    border-style: solid;
    border-width: 2px 0 0 0;
}
hr::after {
    content: "𝄞";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 1.4em;
    padding: 0 0.2em;
    background-color: var(--background-color);
}

strong, em { font-variant-ligatures: normal; }

em { opacity: .5; }

code {
    font-family: var(--code-font);
    padding: 0 0.1rem;
    background-color: var(--code-background-color);
}
 
img {
    max-width: 100%;
    padding: .8ch;
    display: block;
    margin: auto;
}

#footerwrap {
    padding-top: 100px;
    padding-bottom: 20px;
}

.post-meta {
    color: #888;
    margin-bottom: .5em; 
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
  margin-right: -9px;
  text-align: right;
}

.nav a {
  display: inline-block;
  margin: 4px 9px;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgba(51, 255, 51, 0.87);
        background-color: #282828;
    }

    a {
        color: rgba(51, 255, 51, 0.6);
    }

    blockquote {
	color: rgba(102, 255, 102, 0.87);
    }

    code {
	background-color: #303030;
	color: rgba(255, 176, 0, 0.87);
    }
    hr{
	 border-image: linear-gradient(to left, #282828, rgba(51, 255, 51, 0.87)) 4;
    }
    hr::after { background-color: #282828; }
}
