:root {
    --code-background-color: #eaeaea;
    --background-color: white;
    --border-color: gray;
    --accent-color: #504040;
    --code-font: Courier, monospace;
}

@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-9FAF;
  src: local(''),
       url('../fonts/noto-serif-tc-v23-latin_chinese-traditional-regular.woff2') format('woff2'),
       url('../fonts/noto-serif-tc-v23-latin_chinese-traditional-regular.woff') format('woff');
}

body {
    font-family: Noto Serif TC, Georgia, 'Times New Roman', Times, serif;
}

.container-fluid {
    margin-left: calc(6vh);
    margin-right: calc(6vh);
}

.footer {
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 18px;
}

ol, ul {
    list-style-position: outside;
    line-height: 150%;
}
ol {
    list-style-type: decimal;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: rgb(15, 165, 235);
    text-decoration: underline;
}

blockquote {
    padding-left: 2ch;
    margin-left: 1ch;
    position: relative;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    color: var(--accent-color);
    /* font-style: italic; */
}

h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.25em; }

p {
    font-kerning: normal;
    line-break: normal;
    line-height: 150%;
    font-size: 1.24em;
}

mark { background-color: yellowgreen; }

del { color: var(--accent-color); }

table { 
    padding: .8ch;
    border: 3px double var(--border-color); 
}
tr, td, th { padding: .4ch; }
tr { border: .5px solid var(--border-color); }

thead {
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    overflow: visible;
    padding: 0;
    text-align: center;
    border-image: linear-gradient(to left, var(--background-color), black) 4;
    border-style: solid;
    border-width: 2px 0 0 0;
}
hr::after {
    content: "𝄞";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 1.4em;
    padding: 0 0.2em;
    background-color: var(--background-color);
}

strong, em { font-variant-ligatures: normal; }

/* em { opacity: .75; } */

code {
    font-family: var(--code-font);
    padding: 0 0.1rem;
    background-color: var(--code-background-color);
}

img {
    padding: .8ch;
    display: block;
}

.container-fluid img {
    max-width: 100%;
    margin: auto;
}

.post-meta {
    color: #888;
    border-bottom: 1px dashed;
    display: block;
    margin: .5em 0 .5em;
}

#lang-selector {
    text-align: right;
    font-variant: small-caps;
    line-height: 0.5px;
    letter-spacing: 3px;
    padding: 20px 0 24px;
    font-size: 1.25em;
}

.spacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    font-variant: small-caps;
    line-height: 0.5px;
    letter-spacing: 3px;
    padding: 20px 0 24px;
    font-size: 1.25rem;
    text-align: center;
}

/* .nav a {
  display: inline-block;
  margin: 1em;
  white-space: nowrap;
} */

@media (prefers-color-scheme: dark) {
    body {
        color: rgba(255, 255, 255, 0.87);
        background-color: #282828;
    }

    a {
        color: rgba(255, 255, 255, 0.6);
    }

    blockquote {
	color: rgba(255, 255, 255, 0.87);
    }

    code {
	background-color: #303030;
    }

    hr{
	 border-image: linear-gradient(to left, #282828, rgba(255, 255, 255, 0.87)) 4;
    }
    hr::after { background-color: #282828; }
}

@media (max-width: 768px) {
    .header {
        display: block;
    }

    #lang-selector {
        display: flex;
        font-size: 1em;
        text-align: center;
        line-height: normal;
    }

    .nav {
        font-size: 1.25em;
    }
}
