<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% if page.lang == "ZH" %}
        <div class="container-fluid-zh">
            <div class="tategaki">
        {% elsif page.lang != "ZH" %}
        <div class="container-fluid">
        {% endif %}

        <h1>
            {{ page.title }}
        </h1>
        <div class="post-meta">{{ page.date | date: "%d-%m-%-Y" }} </div>

        {{ content }}

        <h4>
        {% if page.lang == "ZH" %}
        <a href="{{"/archive" | prepend: site.baseurl }}">「前頁」</a> 
        | <a href="{{ "/" | prepend: site.base_url }}">「首頁」</a>
        {% elsif page.lang != "ZH" %}
        <a href="{{"/archive" | prepend: site.baseurl }}">&lt; Back</a>
        | <a href="{{ "/" | prepend: site.base_url }}"> Home </a>
        {% endif %}
        </h4>

        {% include footer.html -%}
        {% if page.lang == "ZH" %}
        </div>
        {% endif %}

	    </div>

        {% if page.lang == "ZH" %}
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/taketori.js" charset="UTF-8"></script>
        <script type="text/javascript">
        var taketori = (new Taketori())
        .set({fontFamily:'Noto Serif TC', 
            lang: 'zh-tw',
            height: '38em' })
        .element('div.tategaki').toVertical();

        window.addEventListener('wheel', (event) => {
			event.preventDefault();
            $('.tategaki').scrollLeft -= event.deltaY;
		});
        </script>
        {% endif %}

    </body>
</html>
